<%= form_with(model: turbidity_to_bod) do |form| %>
  <% if turbidity_to_bod.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(turbidity_to_bod.errors.count, "error") %> prohibited this turbidity_to_bod from being saved:</h2>

      <ul>
        <% turbidity_to_bod.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
