<% content_for :title, "Editing turbidity to bod" %>

<h1>Editing turbidity to bod</h1>

<%= render "form", turbidity_to_bod: @turbidity_to_bod %>

<br>

<div>
  <%= link_to "Show this turbidity to bod", @turbidity_to_bod %> |
  <%= link_to "Back to turbidity to bods", turbidity_to_bods_path %>
</div>
