<p style="color: green"><%= notice %></p>
<% content_for :title, "Turbidity to bods" %>
<div class="measures" data-controller="measures">
  <div class="measures__list">
    <button type="button" class="" data-action="measures#open">水質測定開始</button>
    <%= link_to "戻る" , root_path, class: "undo-button"%>
  </div>
  <div class="hidden measures__measure" data-measures-target="modal">
    <div class="measures__measure--container">
      <h3 class="measures__measure--title">水質の推定方法</h3>
      <ol class="measures__measure--steps">
        <li>紙コップに茹で汁を溢れる手前くらいまで入れてください。</li>
        <li>キットに紙コップをセットしてください。</li>
        <li>下の測定開始のボタンを押すと測定が始まります。</li>
      </ol>
      <div class="hidden" data-measures-target="in-process">
        <span class="careful">推定が完了するまでキットに触れないでください。</span>
      </div>
      <div class="hidden" data-measures-target="completed">
        <div class="measures__measure--result" data-measures-target="result">
          茹で汁の水質は綺麗です。
        </div>
        <p class="measures__measure--values">
          <div>BOD値:<span data-measures-target="bod">0</span>[mg/L]</div>
          <div>COD値:<span data-measures-target="cod">0</span>[mg/L]</div>
        </p>
      </div>
      <div class="measures__measure--buttons" id="back-root">
        <button type="button" data-action="measures#startEstimation">推定開始</button>
        <button type="button" data-action="measures#cancelEstimation">キャンセル</button>
      </div>
    </div>
  </div>
