<% content_for :title, "New turbidity to bod" %>

<h1>New turbidity to bod</h1>

<%= render "form", turbidity_to_bod: @turbidity_to_bod %>

<br>

<div>
  <%= link_to "Back to turbidity to bods", turbidity_to_bods_path %>
</div>
