<div class="form-wrapper">
  <div class="form-wrapper__container">
    <% content_for :title, "サインイン" %>
    <h1 class="form-wrapper__title">サインイン</h1>
    <%= render "form", user: @user %>
  </div>
</div>
