<div
  class="maps__container"
  data-controller="maps"
  data-maps-eco-icon-url-value="<%= asset_path('eco-icon.png') %>"
  data-maps-foodshare-icon-url-value="<%= asset_path('gift-icon.png') %>"
></div>
<div class="comments__container" data-controller="comments">
  <div class="comments__header">
    <p class="comments__text">コメント</p>
    <button type="button" class="comments__btn--close" data-action="click->comments#hide">
      ×
    </button>
  </div>
  <div class="comments__list">
    <div class="comments__content">
      Aさん：ここのうどんはコシがあって美味しい！<br>
      Bさん：薬味の種類が多くてよかった<br>
      Cさん：店員さんの対応が素晴らしい<br>
      Dさん：また来たいです！<br>
      Eさん：リーズナブルな価格で満足<br>
      Fさん：店内が清潔で居心地が良い<br>
      Gさん：天ぷらも絶品でした<br>
      Hさん：家族連れにもおすすめです<br>
      Iさん：駐車場が広くて便利<br>
      Jさん：季節限定メニューも楽しみです<br>
    </div>
  </div>
</div>
