<main class="main__container">
  <div class="maps__container" data-controller="maps"></div>
  <div id="comment-box"> <!-- コメント表示用のボックス -->
    <div id="comment-header">
      <p id="comment-text">コメント</p>
      <button type="button" id="comment-close" onclick="document.getElementById('comment-box').style.display='none';">×</button>
    </div>
    <div id = "scroll-box">
      <div class="scroll-content">
        <!-- ここにコメントの内容が入る -->
      </div>
    </div>
  </div>
</main>
<div id="logout-background">
  <div id="logout-box">
    <p id = "logout-surundana">ログアウトしますか？</p>
    <div class="logout-buttons">
      <button onclick="document.getElementById('logout-background').style.display='none'; logout();" class = undo-button>ログアウト</button>
      <button onclick="document.getElementById('logout-background').style.display='none';" class = undo-button>キャンセル</button>
    </div>
  </div>
</div>
<script>
  function logout_show() {
      document.getElementById('logout-background').style.display = 'flex';
  }

  function logout() {
      alrat("ログアウトしたとする");
  }

  function comment_view() {
      document.getElementById('comment-box').style.display = 'block';
  }
</script>
