<%#
<div data-controller="hello"></div>
%>

<main class="main__container">
    <header class="header__container">
        <div class="header__title">UNDO</div>
    </header>
    <div class="maps__container" data-controller="maps"></div>
    <div class = "main_bar">
        <button>
            <img src = "/yeah.png" class = "bar_button">
        </button>
        <button>
            <img src = "/yeah.png" class = "bar_button">
        </button>
        <button>
            <img src = "/yeah.png" class = "bar_button">
        </button>
        <button>
            <img src = "/yeah.png" class = "bar_button">
        </button>
    </div>
</main>
