<main class="main__container">
  <div class="maps__container" data-controller="maps"></div>
  <div id="comment-box" style="display:none;"> <!-- コメント表示用のボックス -->
    <div id="comment-header">
      <p id="comment-text">コメント</p>
      <button type="button" id="comment-close" onclick="document.getElementById('comment-box').style.display='none';">×</button>
    </div>
    <div id = "scroll-box">
      <div class="scroll-content">
      </div>
    </div>
  </div>
</main>
<script>
  function comment_view() {
      document.getElementById('comment-box').style.display = 'block';
  }
</script>
