<%#
<div data-controller="hello"></div>
%>

<main class="main__container">
    <header class="header__container">
        <div class="header__title">UNDO</div>
    </header>
    <script src = "bar_icons.rb"></script>
    <div class="maps__container" data-controller="maps"></div>
    <div class = "main_bar">
        <%# BOD %>
        <%= link_to "src/bar_icons.rb", class: "bar_button" do %>
            <%= image_tag("bar_icons/yeah.png", size: "60x60") %>
        <% end %>
    </div>
</main>
