<main class="main__container">
  <header class="header__container">
    <%= image_tag "logo.png", class: "header__logo", alt: "UNDO Logo" %>
  </header>
  <div class="maps__container" data-controller="maps"></div>
</main>
