<div
  class="maps__container"
  data-controller="maps"
  data-maps-eco-icon-url-value="<%= asset_path('eco-icon.png') %>"
></div>
<div class="comments__container" data-controller="comments">
  <div class="comments__header">
    <p class="comments__text">コメント</p>
    <button type="button" class="comments__btn--close" data-action="click->comments#hide">
      ×
    </button>
  </div>
  <div class="comments__list">
    <div class="comments__content">
    </div>
  </div>
</div>
