<main class="main__container">
    <header class="header__container">
        <div class="header__title">UNDO</div>
    </header>

    <div class="maps__container" data-controller="maps"></div>
</main>
