// Sassy

:root {
    --color-1: #267365;
    --color-2: #f2cb05;
    --color-3: #f29f05;
    --color-4: #f28705;
    --color-5: #f23030;
    --color-6: #ffffff;
}

#howto-bod-background,
#check-ground {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
    display: none;
    z-index: 9999;
}

#howto-box {
    background-color: var(--color-6);
    border: 2px solid var(--color-3);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 500px;
}

#check-box {
    background-color: var(--color-6);
    border: 2px solid var(--color-3);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 350px;
}

#howto-box,
#check-text,
#logout-surundana {
    color: var(--color-1);
    font-size: 18px;
    margin-bottom: 20px;
}

.check-text-main {
    color: var(--color-1);
    font-size: 14px;
    margin-bottom: 6px;
}

.logout-buttons {
    display: flex;
    justify-content: space-around;
}

.undo-button {
    background-color: var(--color-4);
    color: var(--color-6);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#comment-box {
    position: absolute;
    bottom: 60px;
    background-color: var(--color-6);
    z-index: 1;
    display: none;

    width: 100vw;
    height: 40vh;

    justify-content: flex-start;
    // align-items: flex-start;
}

#comment-text {
    font-size: 32px;
    bottom: 0;
    text-align: center;
    padding-bottom: 4px;
}

#scroll-box {
    overflow-y: auto;
    height: 80%;
    padding: 10px;
}

#comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-4);
}

#comment-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
    color: var(--color-1);
}

#review-button {
    background-color: var(--color-4);
    color: var(--color-6);
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}