table th,
table td {
    padding-right: 20px;
    padding-bottom: 6px;
}

form {
    text-align: center;
}

form table {
    display: inline-table;
}

.circle-number {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: var(--color-4);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 4px;
}

.howto_exp {
    font-size: 12px;
}

.circle-step {
    padding-bottom: 10px;
    text-align: left;
    /* 上下に空間 */
}

#bod-cod-exp {
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
    display: none;
}

#bod-cod-show {
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    display: none;
}

#careful_view {
    font-size: 12px;
    color: red;
    display: none;
}

#do_undo {
    display: none;
}