<p style="color: green"><%= notice %></p>

<% content_for :title, "Reviews" %>

<header class="header__container">
  <div class="header__title">UNDO</div>
</header>

<div id="reviews" style="color: black">
  <form>
      <table>
        <tr><th>ユーザー名</th><td>ほげほげ(仮)</td></tr> 
        <tr><th>評価</th><td><div id = "stars">★★★★★</div></td></tr>
        <tr><th>コメント</th><td><input type = "text" id = "comment" class="textlines"></td></tr>
      </table>
      <input type = "submit" value = "送信" class="undo-button" id = "submit_review">
    </form>
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to "Show this review", review %>
    </p>
  <% end %>
</div>


<%# <%= link_to "New review", new_review_path %>  
