<p style="color: green"><%= notice %></p>

<% content_for :title, "Reviews" %>

<script>
  //fuckin code
  document.addEventListener('DOMContentLoaded', () => {
  const starsContainer = document.getElementById('stars');
  if (!starsContainer) return;

  for (let i = 0; i < 5; i++) {
    const Button = document.createElement('button');
    Button.className = "left-buttons";

    const Img = document.createElement('img');
    Img.className = "star-image";
    Img.src = "star-yellow.png";
    Img.style.width = "40px";
    Img.style.height = "auto";
    Img.id = `star_img_${i}`;
    Button.appendChild(Img);
    Button.style.backgroundColor = "transparent";
    Button.style.paddingRight = "8px";

    Button.type = "button";

    Button.onclick = () => click_star(i + 1);

    starsContainer.appendChild(Button);
  }
});

function click_star(score) {
  for(let i = 1; i < 5; i ++){
    const shine_star = document.getElementById(`star_img_${i}`);
    shine_star.src = score>i?"star-yellow.png":"star-black.png";
  }
}
</script>

<header class="header__container">
  <div class="header__title">UNDO</div>
</header>

<div id="reviews" style="color: black">
  <form id = "review_form" action = "/reviews" method = "post">
      <table style="text-align: left;">
        <tr><th>店舗名</th><td>ふたばうどん</td></tr>
        <tr><th>ユーザー名</th><td>ほげほげ(仮)</td></tr> 
        <tr><th>評価</th><td><div id = "stars"></div></td></tr>
        <tr><th>コメント</th><td><textarea style = "font-size: 100%" id = "comment" class="textlines"></textarea></td></tr>
      </table>
      <input type = "submit" value = "送信" class="undo-button" id = "submit_review">
    </form>
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to "Show this review", review %>
    </p>
  <% end %>
</div>


<%# <%= link_to "New review", new_review_path %>  
